@font-face {
    font-family: "JetBrains";
    font-style: normal;
    font-weight: 400;
    src: url(./JetBrainsMono-Regular.woff) format("woff"),
        url(./JetBrainsMono-Regular.woff2) format("woff2");
}
@font-face {
    font-family: "JetBrains";
    font-style: bold;
    font-weight: 700;
    src: url(./JetBrainsMono-Bold.woff) format("woff"),
    url(./JetBrainsMono-Bold.woff2) format("woff2");
}
@font-face{
    font-family: "Iceland";
    font-style: normal;
    font-weight: 400;
    src: url(./Iceland-Regular.woff) format("woff"),
    url(./Iceland-Regular.woff2) format("woff2");
}